
.query-area
  margin-bottom: $grid-gutter-width
  //+make-row(0)
  //>.row>div
  //  padding-left: 0px !important
  //  padding-right: 0px !important
  #queryInput
    //font-size: larger($font-size-base, 20%)
    text-align: center



.result-area
  min-height: 200px



