
div
  direction: $direction

label
  font-weight: normal

// TODO: for vahid, check these styles, its harmful and may overrides bootstrap default behavior.

.container-main
  min-height: 300px

.nav
  padding-#{$float}: 0

.navbar-logo
  padding: 10px !important

.main-footer
  padding: 10px

.navbar-toggle
  margin-#{$float-inverse}: 15px
  margin-#{$float}: 0

.navbar
  .container-fluid
    .navbar-brand
      margin-#{$float-inverse}: 0

//Recaptcha Table Fix
.recaptchatable
  direction: ltr

  //contribution
.contribution-words-area
  .panel-body
    display: none

.contribution-area
  text-align: center

.contribution-notify-area
  margin: 10px 0

//authentication
.verification-request
  .glyphicon-send
    color: $brand-info
.verification-success
  .nav
    .glyphicon
      margin: 0 5px
  .glyphicon-ok
    color: $brand-success
.recover-password-pending
  .glyphicon
    color: $brand-info

.change-password-success
  .glyphicon
    color: $brand-success

.alphabets
  text-align: center
  a.btn
    margin-bottom: $padding-base-vertical

.words-area
  margin-top: $padding-large-vertical*3
  .panel-heading
    h3
      margin: 0

.filter
  margin-bottom: $padding-large-vertical*2