$brand-success: #99cc00
$font-path: "/fonts/" !global
$font-family-ltr: "Helvetica Neue", Helvetica, Arial, sans-serif !default
$font-family-rtl: BYekan, Tahoma, Verdana, Arial, sans-serif !default
$font-size-base: 14px !global

@if $direction == rtl
  $font-family-base: $font-family-rtl !global
  $line-height-base: 1 !global
  $line-height-computed: floor($font-size-base * 1.42857) !global
@else
  //$line-height-base: 1.42857 !global
  //$line-height-computed: floor($font-size-base * $line-height-base) !default
  $font-family-base: $font-family-ltr !global
