@font-face{font-family:"yekan";src:url("../fonts/BYekan.eot");src:local("?"),url("../fonts/BYekan.woff") format("woff"),url("../fonts/BYekan.ttf") format("truetype");font-weight:normal;font-style:normal;word-spacing:-1px}


small{ font-size:10px;}
b, strong{ font-weight:bold;}
a{ text-decoration: none; color: #004a80}
a:hover{  color:#004a70  }
 .left { float:left; }
.right { float:right; }
 
.clearfix:after,form:after { content: ".";	display: block;	height: 0;	clear: both;	visibility: hidden;}




.mainPersianInput{display: inline-block;line-height: 52px;height: 52px;padding: 0;text-align: center;width: 300px;font-size: 18px;}
#dictWrapper{ text-align: center;  margin: auto;}
#dictWrapper  #result span.item{position:relative;display:inline-block; border-radius:5px; background: #eee; padding: 10px; font-size: 18px;margin: 5px; }
#dictWrapper  #result span.item .like{transition:all .2s;opacity:0;position:absolute; width:100%; right:0; bottom:-20px;display:block; height:20px; font-size:15px}
#dictWrapper  #result span.item:hover .like{opacity:.9}
#dictWrapper  #result span.item i.fa-thumbs-up {opacity:.5;color:#6c3;position:absolute;  right:2px; cursor:pointer;}
#dictWrapper  #result span.item i.fa-thumbs-down {opacity:.5;position:absolute; color:#f63; left:2px;cursor:pointer;}
#dictWrapper  #result span.item i.fa:hover{opacity:1}
#dictWrapper .messages span.item{display:block; padding:5px;width: 100%;display: none;}
#dictWrapper .messages span.noResult{color:#f90; font-size: 19px;margin:10px;}
#dictWrapper .messages span.wordAdded{color:#9c3; font-size: 17px;margin: 0 0 20px;}
#dictWrapper .messages span.addedWordBefore{color:#999; font: 12px yekan;margin:0;}

.join{text-align:center}


/* translate list */
.listStyle1{ text-align:center; position: relative;}
.listStyle1 .item{border-radius:5px; border: 1px solid #eee; margin: 3px; padding: 3px;background: #f5f5f5;/* width: 200px; */position: relative;min-width: 180px;display: inline-table;top: 0;}
.listStyle1 .item.open{ border-color:#aaa}
.listStyle1 .subitem{border-radius:5px;padding:3px;position:relative; display:block; color:#555;margin:5px 0}
.listStyle1 .subitem:hover{ background:#fff; }
/*words*/

#words .item input{margin: 1px 0 0 3px;width: 138px;}
#words .item .input{ display: none;position: relative; height: 28px; display: block; background: #fff; margin: 10px 0; border-radius: 5px;}

#words .item .word{display:block;cursor: pointer;}
#words .item .fa{ color: #ccc; cursor: pointer; margin: 1px; background: #fff; font-size: 18px; top: 3px; position: relative; float: left;}
#words .item .fa-plus:hover{color: #6c3;}
#words .item .pendingWord{display:block; margin:10px 0;}
#words .item .fa-times{ top:3px; position:absolute;left:2px; background:transparent; font-size:14px}
#words .item .fa-times:hover{color:#f60; }






/* TurboGears flash bootstrap look */
#flash > div {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #c09853;
}

#flash > .ok {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#flash > .error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

#flash > .info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* Footer styling */
.footer {
    margin-top: 45px;
    padding: 35px 30px 36px;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    margin-bottom: 0;
    color: #555;
}
